.col1 {
  float: left;
  width: 30%;
}

.col2 {
  float: left;
  width: 60%;
}

noUi-tooltip {
    display: none;
}
.noUi-active .noUi-tooltip {
    display: block;
}

.d3-tip {
    font-size: 15px;
    padding: 10vh;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

body::-webkit-scrollbar {
    width: 0.5em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.navbar {
    border-radius: 0em;
}

svg, body {
    background-color: #ffdead;
}

.btn-primary {
    background-color: #3FB8AF;
    border-color: black !important;
    width: 
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus  {
    background-color: darkcyan;
}

.tract-img {
    width: 500px;
    height: 400px;
}

.button-holder {
    text-align: center;
}

/*.filter-panel {
    border: 1px solid black;
    height: 80%;
    padding: 10px;
}*/

.map-census-tract:hover {
    cursor: pointer;
}
