{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="./static/lib/css/nouislider.min.css" />
<link rel="stylesheet" href="./static/css/vis.css" />
<link rel="stylesheet" href="./static/css/portfolio.css" />
<link rel="stylesheet" href="./static/css/gallery.css" />
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default filter-panel">
                <div class="panel-body">
                    <!-- Cuisines -->
                    <div class="form-group">
                        <label for="sel1">Cuisine:</label>
                        <select class="form-control" id="cuisine-selector">
                            <option>Thai</option>
                            <option>Chinese</option>
                            <option>Indian</option>
                            <option>Mexican</option>
                        </select>
                        <br/>
                    </div>

                    <!-- Timings -->
                    <div class="form-group">
                        <label for="timings-slider">Open Hours:</label>
                        <br/><br/><br/>
                        <div id="timings-slider"></div>
                        <br/>
                    </div>

                    <!-- Land Area -->
                    <div class="form-group">
                        <label for="land-area-slider">Search Within:</label>
                        <br/><br/><br/>
                        <div id="land-area-slider"></div>
                        <br/>
                    </div>

                    <div class="form-group button-holder">
                        <br/><br/>
                        <button id ="designSearch" class="btn btn-primary" >Search</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <div id="content">
                <div id="my_vis">
                    <div class="tab">
                        <button class="tablinks" onclick="openTab(event, 'Food')" id='Food'>Food</button>
                        <button class="tablinks" onclick="openTab(event, 'Indoors')" id='Indoors'>Indoors</button>
                        <button class="tablinks" onclick="openTab(event, 'Outdoors')" id='Outdoors'>Outdoors</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="gallery">
                <div id = "food_gallery">
                    <div class="desc">
                        <!-- <p>Slideshow 1:</p>
                        <div class="slideshow-container">
                            <div class="mySlides">
                                <img src="./static/data/images/img_nature_wide.jpg" style="width:100%">
                            </div>

                            <div class="mySlides">
                                <img src="./static/data/images/img_snow_wide.jpg" style="width:100%">
                            </div>

                            <div class="mySlides">
                                <img src="./static/data/images/img_mountains_wide.jpg" style="width:100%">
                            </div>

                            <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
                        </div>

                        <p>Slideshow 2:</p>
                        <div class="slideshow-container">
                            <div class="mySlides">
                                <img src="./static/data/images/img_band_chicago.jpg" style="width:100%">
                            </div>

                            <div class="mySlides">
                                <img src="./static/data/images/img_band_la.jpg" style="width:100%">
                            </div>

                            <div class="mySlides">
                                <img src="./static/data/images/img_band_ny.jpg" style="width:100%">
                            </div>

                            <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Tract Details Modal -->
        <!-- <div class="modal fade" id="censusDetailsModal" tabindex="-1" role="dialog" aria-labelledby="censusDetailsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="censusDetailsLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
        </div> -->
        <!-- <div class="modal fade" id="censusDetailsModal" tabindex="-1" role="dialog" aria-labelledby="censusDetailsLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="censusDetailsLabel">Modal title</h4>
                </div>
                <div class="modal-body" style="text-align:center">
                    ...
                </div> -->
                <!-- <div class="modal-footer">
                    <button type="button" id="toggleActive" value="" class="btn btn-primary" data-dismiss="modal">Toggle Active</button>
                </div> -->
            <!-- </div>
          </div>
        </div> -->
        <!-- <div class="modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-labelledby="portfolioLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content" id="portfolio-modal-content">
              </div>
            </div>
        </div> -->

    </div>
</div>


{% endblock %}

{% block scripts %}
{{super()}}
<script src="./static/lib/js/d3.v3.min.js"></script>
<script src="./static/lib/js/d3-queue.v3.min.js"></script>
<script src="./static/lib/js/d3.tip.v0.6.3.js"></script>
<script src="./static/lib/js/topojson.v1.min.js"></script>
<script src="./static/lib/js/wNumb.js"></script>
<script src="./static/lib/js/nouislider.min.js"></script>
<script src="./static/js/vis.js"></script>
<!-- <script src="./static/js/cp.js"></script> -->
<script src="./static/js/portfolio.js"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9U4h8a4pgsO-heHY9JuBMytpnJCcHZHk"></script> -->
{% endblock %}
