{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="./static/lib/css/nouislider.min.css" />
<link rel="stylesheet" href="./static/css/vis.css" />
<link rel="stylesheet" href="./static/css/portfolio.css" />
<link rel="stylesheet" href="./static/css/gallery.css" />
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default filter-panel">
                <div class="panel-body">
                    <!-- Cuisines -->
                    <div class="form-group">
                        <label for="sel1">Cuisine:</label>
                        <select class="form-control" id="cuisine-selector">
                            <option>Asian</option>
                            <option>American</option>
                            <option>Desserts</option>
                            <option>Italian</option>
                            <option>French</option>
                            <option>Mexican</option>
                            <option>Mediterranean</option>
                        </select>
                        <br/>
                    </div>

                    <!-- Timings -->
                    <div class="form-group">
                        <label for="timings-slider">Open Hours:</label>
                        <br/><br/><br/>
                        <div id="timings-slider"></div>
                        <br/>
                    </div>

                    <!-- Land Area -->
                   <!--  <div class="form-group">
                        <label for="land-area-slider">Search Within:</label>
                        <br/><br/><br/>
                        <div id="land-area-slider"></div>
                        <br/>
                    </div> -->

                    <!-- City -->
                    <div class="form-group">
                        <label for="sel1">City:</label>
                        <select class="form-control" id="city-selector">
                        </select>
                        <br/>
                    </div>

                    <div class="form-group button-holder">
                        <br/><br/>
                        <button id ="designSearch" class="btn btn-primary" >Search</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <div id="content">
                <div id="my_vis">
                    <div class="tab">
                        <button class="tablinks" onclick="openTab(event, 'Food')" id='Food'>Food</button>
                        <button class="tablinks" onclick="openTab(event, 'Indoors')" id='Indoors'>Indoors</button>
                        <button class="tablinks" onclick="openTab(event, 'Outdoors')" id='Outdoors'>Outdoors</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="gallery">
                <div id = "Food_gallery">
                </div>
                <div id = "Indoors_gallery">
                </div>
                <div id = "Outdoors_gallery">
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="modal" id="business_details_modal" tabindex="-1" role="dialog" aria-labelledby="business_details_modal_labels">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" id="business-modal-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{super()}}
<script src="./static/lib/js/d3.v3.min.js"></script>
<script src="./static/lib/js/d3-queue.v3.min.js"></script>
<script src="./static/lib/js/d3.tip.v0.6.3.js"></script>
<script src="./static/lib/js/topojson.v1.min.js"></script>
<script src="./static/lib/js/wNumb.js"></script>
<script src="./static/lib/js/nouislider.min.js"></script>
<script src="./static/js/vis.js"></script>
<script src="./static/js/portfolio.js"></script>
{% endblock %}
